.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.nav-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 11px;
  border: none;
  background-color: #051c2c;
  cursor: pointer;
  z-index: 100;
}

.nav-btn__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.nav-btn__circle--large {
  background-color: #194d62;
}

.nav-btn__circle--medium {
  height: 70%;
  width: 70%;
  background-color: #2e95bf;
}

.nav-btn__circle--small {
  height: 60%;
  width: 60%;
  background-color: #3ec4f7;
}

.nav {
  position: fixed;
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 1.5em;
  color: #daddfc;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 52, 82, 0.42)), to(rgba(0, 0, 0, 0.7))), url("../img/header_640.jpg");
  background-image: linear-gradient(90deg, rgba(7, 52, 82, 0.42), rgba(0, 0, 0, 0.7)), url("../img/header_640.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header__heading {
  display: -ms-grid;
  display: grid;
  height: 75%;
  width: 100%;
  -ms-grid-rows: (1fr)[5];
  -ms-grid-columns: 1fr 1fr;
      grid-template: repeat(5, 1fr)/1fr 1fr;
}

.header__heading-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header__heading-box-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header__heading-box-center {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.header__heading-box-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.header__heading-box-bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__heading-block {
  position: absolute;
  top: 0;
  height: 100%;
  width: 170%;
  background-color: rgba(34, 53, 75, 0.85);
}

.header__heading-block--left {
  -webkit-box-shadow: 1px 1px 3px #396eb0;
          box-shadow: 1px 1px 3px #396eb0;
  right: 0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.header__heading-block--right {
  -webkit-box-shadow: -1px 1px 3px #396eb0;
          box-shadow: -1px 1px 3px #396eb0;
  left: -30px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.header__heading-text {
  position: absolute;
  font-size: 4.8rem;
  color: #fff;
  text-shadow: 2px 2px 3px black;
}

.header__text {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #daddfc;
  text-shadow: 2px 2px 3px;
}

.header__btn {
  padding: 0.8em 1.6em;
  background: #fc997c;
  border-radius: 8px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2e2e;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

@media (max-width: 374px) {
  .header__heading-box-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__heading-block--right {
    left: -10px;
  }
  .header__heading-text {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    padding: 0.8em 1.2em;
    font-size: 1.7rem;
  }
}

@media (min-width: 576px) {
  .header__heading-block--right {
    left: -30px;
  }
  .header__heading-text {
    font-size: 5.6rem;
  }
  .header__text {
    font-size: 3.2rem;
  }
  .header__btn {
    padding: 0.8em 1.6em;
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) {
  .header__heading-block--right {
    left: 0;
  }
  .header__heading-text {
    font-size: 7.6rem;
  }
  .header__text {
    font-size: 4.2rem;
  }
  .header__btn {
    padding: 0.8em 1.6em;
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=main.css.map */