.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.btn-special-animation {
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #396eb0;
  z-index: -1;
}

.btn-special-animation:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__item-link {
  position: relative;
}

.nav__item-link::before, .nav__item-link::after {
  position: absolute;
  content: '';
  width: 0em;
  height: 0em;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__item-link::before {
  top: -0.1em;
  left: -0.5em;
  border-top: 0 solid #2e4c6d;
  border-left: 0 solid #2e4c6d;
}

.nav__item-link::after {
  bottom: -0.1em;
  right: -0.5em;
  border-bottom: 0 solid #2e4c6d;
  border-right: 0 solid #2e4c6d;
}

.nav__item-link:hover::before, .nav__item-link:hover::after {
  width: 1em;
  height: 1em;
  border-width: 3px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 11px;
  border: none;
  background-color: #051c2c;
  -webkit-box-shadow: 1px 1px 2px #396eb0;
          box-shadow: 1px 1px 2px #396eb0;
  cursor: pointer;
  z-index: 100;
}

.btn__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.btn__circle--large {
  background-color: #194d62;
}

.btn__circle--medium {
  height: 70%;
  width: 70%;
  background-color: #2e95bf;
}

.btn__circle--small {
  height: 60%;
  width: 60%;
  background-color: #3ec4f7;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn__circle--small:hover {
  -webkit-transform: scale(2) translate(-25%, -25%);
          transform: scale(2) translate(-25%, -25%);
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  width: 100%;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__items {
  height: 80%;
  max-height: 550px;
  width: 100%;
}

.nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25%;
  background-color: #375f8f;
  border-top: 1px solid #2e4c6d;
}

.nav__item:first-child {
  border-top: none;
}

.nav__item-title {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 0.7em;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 2.6rem;
  border-bottom: 1px solid #396eb0;
  background-color: #2e4c6d;
  color: #fff;
  cursor: default;
}

.nav__item-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em 0;
  padding: 0.3em 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: #e2e5ff;
  cursor: pointer;
}

.nav__item-link--desktop {
  display: none;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 52, 82, 0.42)), to(rgba(0, 0, 0, 0.7))), url("../img/header_640.jpg");
  background-image: linear-gradient(90deg, rgba(7, 52, 82, 0.42), rgba(0, 0, 0, 0.7)), url("../img/header_640.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: -10;
}

.header__heading {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-rows: 2fr (1fr)[4] 2fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 2fr repeat(4, 1fr) 2fr/1fr 1fr;
}

.header__heading-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header__heading-box-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.header__heading-box-center {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.header__heading-box-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.header__heading-box-bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__heading-block {
  position: absolute;
  top: 0;
  height: 100%;
  width: 170%;
  background-color: rgba(34, 53, 75, 0.85);
}

.header__heading-block--left {
  right: 0;
  -webkit-box-shadow: 1px 1px 3px #396eb0;
          box-shadow: 1px 1px 3px #396eb0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.header__heading-block--right {
  -webkit-box-shadow: -1px 1px 3px #396eb0;
          box-shadow: -1px 1px 3px #396eb0;
  left: -30px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.header__heading-text {
  position: absolute;
  font-size: 4.8rem;
  color: #fff;
  text-shadow: 2px 2px 3px black;
  letter-spacing: 2px;
}

.header__text {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #daddfc;
  text-shadow: 2px 2px 3px;
  letter-spacing: 1.5px;
}

.header__btn {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1.8rem;
  background: #fc997c;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2e2e;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

@media (max-width: 374px) {
  .header {
    min-width: 320px;
  }
  .header__heading-block--right {
    left: -10px;
  }
  .header__heading-text {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.7rem;
  }
  .nav__item-title {
    padding: 0 0.5em;
    font-size: 2.2rem;
  }
  .nav__item-link {
    margin: 0.3em 0;
    padding: 0.3em 0;
    font-size: 1.4rem;
  }
}

@media (min-width: 576px) {
  .header__heading-block--right {
    left: -30px;
  }
  .header__heading-text {
    font-size: 5.6rem;
    letter-spacing: 7px;
  }
  .header__text {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  .header__btn {
    padding: 0.6em 1.4em;
    font-size: 2rem;
  }
  .nav__items {
    max-height: 600px;
  }
}

@media (min-width: 768px) {
  .header__btn {
    padding: 0.6em 1.4em;
    font-size: 1.8rem;
  }
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
  }
  .nav__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__item-menu {
    margin-left: 2em;
  }
  .nav__item-title {
    padding: 0 0.7em;
    font-size: 3.2rem;
  }
  .nav__item-link {
    margin: 0.5em 0;
    padding: 0.3em 0;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .header__heading {
    -ms-grid-rows: 1fr 1fr 2fr (1fr)[3];
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 2fr repeat(3, 1fr)/1fr 1fr;
  }
  .header__heading-block--right {
    left: 0;
  }
  .header__heading-text {
    font-size: 7.8rem;
    letter-spacing: 10px;
  }
  .header__text {
    font-size: 4.2rem;
    letter-spacing: 3px;
  }
  .header__btn {
    padding: 0.8em 1.6em;
  }
  .nav {
    width: 300px;
    -webkit-transform: translateX(calc(-300px + 79px));
            transform: translateX(calc(-300px + 79px));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav--active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__item {
    border: none;
    border-bottom: 1px solid #2e4c6d;
  }
  .nav__item-hover {
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .nav__item-hover:hover {
    -webkit-transform: translateX(calc(300px - 79px));
            transform: translateX(calc(300px - 79px));
    border-bottom: none;
  }
  .nav__item-hover:hover .nav__item-title {
    border-bottom: none;
  }
  .nav__item-title {
    padding: 0 0.7em;
    font-size: 3rem;
  }
  .nav__item:last-of-type .nav__item-title {
    border-bottom: none;
  }
  .nav__item-link {
    margin: 0.3em 0;
    padding: 0.2em 0;
    font-size: 1.6rem;
  }
  .nav__item-link--mobile {
    display: none;
  }
  .nav__item-link--desktop {
    display: block;
    margin-left: 1em;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */