$btn-circle-small: #3ec4f7;
$btn-circle-medium: #2e95bf;
$btn-circle-large: #194d62;
$btn-background: #051c2c;

$heading-color: #22354b;
$menu-item: #e2e5ff;

$main-color: #2e4c6d;
$secondary-color: #396eb0;
$light-white: #daddfc;
$special-color: #fc997c;
$pure-white: #fff;
$dark: #2e2e2e;

$bg-shadow: rgba(0, 0, 0, 0.55);
$bg-shadow-linear-gradient: linear-gradient(
	90deg,
	rgba(7, 52, 82, 0.42),
	rgba(0, 0, 0, 0.7)
);

$d-block-color: rgba(34, 53, 75, 0.85);
$intercor-main: #0676bd;
$intercor-main-complementary: #bd4d06;
$background-section: #2b2a33;
$pkp-main: #004d84;
